
<h2 class="text-center">Cerca un libro</h2>
<div class="row mb-5">
    <div class="col d-flex justify-content-center">
        <app-search-box (searchBookInParent)="updateSearch($event)"></app-search-box>
    </div>
</div>

<h2 *ngIf="loading">Caricamento...</h2>

<div *ngIf="books.length > 0; else nullBlock">
    
    <div class="row mb-2">
        <div class="col-3 d-flex align-items-center">
            <span>
                {{ totalElements }} libri trovati {{ search.length > 0 ? 'per "' + search + '"' : ''  }}
            </span>
        </div>


        <div class="col-3 ms-auto">
            <select class="form-select" [(ngModel)]="sort" (ngModelChange)="searchBooks()">
                <option *ngFor="let option of filterOptions" [value]="option.value">
                    {{ option.label }}
                  </option>
            </select>
        </div>
    </div>
    
    <app-book-list class="container-fluid" [bookList]="books | paginate: paginationConfig"></app-book-list>

    <div class="row">
        <div class="col-4 d-flex">
            <span class="text-nowrap my-auto me-2">
                Risultati per pagina
            </span>
            <select class="form-select w-auto" [(ngModel)]="size" (ngModelChange)="searchBooks()">
                <option *ngFor="let option of sizeOptions" [value]="option.value">
                    {{ option.label }}
                  </option>
            </select>
        </div>
        <div class="col-auto">
            <pagination-controls class="pagination" (pageChange)="onPageChange($event)" previousLabel="Precedente" nextLabel="Successivo"></pagination-controls>
        </div>
    </div>
</div>

<ng-template #nullBlock>
    <div class="row m-5">
        <div class="col-12 text-center mb-4">
            Nessun libro trovato
        </div>
        <div class="col text-center">
            <button class="btn btn-primary" (click)="goToLibrary()">Torna alla libreria</button>
        </div>
    </div>
</ng-template>
