<form (ngSubmit)="onSave()" [formGroup]="form">
    <div class="title">
        <label for="title">Titolo</label>
        <input type="text" formControlName="title"/>
    </div>
        
    <div class="author">
        <label for="title">Autore</label>
        <input type="text" formControlName="author"/>
    </div>

    <div>
        <label for="title">ISBN</label>
        <input type="text" formControlName="isbn"/>
    </div>

    <div>
        <label for="title">N. Letture</label>
        <input type="number" formControlName="numberOfReads"/>
    </div>

    <div>
        <label for="title">Trama</label>
        <input type="textarea" formControlName="plot"/>
    </div>

    <input type="submit" value="Salva"/>
</form>
