.navbar {
    position: relative;
    .nav-menu {
        width: fit-content;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        .nav-link {
            border: 1px solid grey;
            border-radius: 20px;
            padding: 10px;
            &:active {
                background: grey;
                color: white;
            }
        }
    }

}