<div *ngIf="book === null; else bookBlock">Libro non trovato</div>

<ng-template #bookBlock>
    <div class="row mb-3">
        <div class="col">
            <h3 class="d-flex">
                <a class="nav-link me-2" [routerLink]="['/']">Libreria ></a>
                    Dettaglio libro
                </h3>
        </div>
        <div class="col text-end">
            <button class="btn btn-outline-secondary" (click)="editMode = !editMode">{{editMode ? 'Annulla modifiche' : 'Modifica libro'}}</button>
        </div>
    </div>
    
    <div class="card p-4">
        <div *ngIf="editMode else detailsBlock">
            <app-form-book [bookToEdit]="book" (saveBook)="editBook($event)" ></app-form-book>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-outline-danger" (click)="deleteBook()">Elimina libro</button>
                </div>
            </div>
        </div>
        <ng-template #detailsBlock>
            <app-book-details [book]="book"></app-book-details>
        </ng-template>
    </div>

    <div class="text-center m-auto d-flex mt-3">
        <a class="m-auto nav-link" href="#" [routerLink]="['/']">Torna alla libreria</a>
    </div>

</ng-template>