<div class="row mb-2">
    <div class="col d-flex align-items-center">
        <span>
            libri trovati
        </span>
    </div>
    <div class="col-auto align-items-center">
        <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Precedente</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Successivo</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="book-list row">
    <div class="col-12">
        <div class="card mb-3 px-4 py-2" *ngFor="let book of bookList; let i = index;">
            <div class="row">
                <div class="col-6">
                    <h5 class="card-title">
                        <a [routerLink]="['/book', book.id]" class="nav-link">
                            {{book.title}}
                        </a>
                    </h5>
                </div>
                <div class="col text-end">
                    Letture:
                    <span class="views">{{book.numberOfReads}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h6 class="card-subtitle">
                        {{book.author}}
                    </h6>
                </div>
                <div class="col-6">
                    <small>
                        ISBN
                        <span class="isbn">{{book.isbn}}</span>
                    </small>
                </div>
                <div class="col-6 text-end">
                    <button class="btn btn-secondary" (click)="goToDetails(book.id)">Dettagli</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-auto m-auto">
        <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Precedente</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Successivo</a></li>
            </ul>
        </nav>
    </div>
</div>