/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
html,
body {
  min-height: 100%;
  height: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
label {
  text-align: left;
}

.app {
  min-height: 100%;
  /*
    background-color: #FFF3E8;
    z-index: -1;
    background-image: url('./assets/images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: block;
    overflow: auto;
    position: relative;
    */
  background-image: url("./assets/images/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #FFF3E8;
}
