/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html,
body {
  min-height: 100%;
  height: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
label {
  text-align: left;
}

.app {
  min-height: 100%;
  overflow: auto;
  background-color: #f7f5f5;
}

.book-item {
  background: #FFFCF9;
  height: 120px;
  max-width: 800px;
}

ul {
  li {
    border-radius: 8px!important;
  }
  &.ngx-pagination {
    margin-bottom: 0;
  }
}