<div *ngIf="book">

    <div class="row mb-4">
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <div class="fw-bold">
                        Titolo
                    </div>
                </div>
                <div class="col-12">
                    {{book.title}}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <div class="fw-bold">
                        Autore
                    </div>
                </div>
                <div class="col-12">
                    {{book.author}}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <div class="fw-bold">
                        ISBN
                    </div>
                </div>
                <div class="col-12">
                    {{book.isbn}}
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="fw-bold">
                        Trama
                    </div>
                </div>
                <div class="col-12">
                    {{book.plot}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <div class="fw-bold">
                        Numero letture
                    </div>
                </div>
                <div class="col-12">
                    {{book.numberOfReads}}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <div class="fw-bold">
                        Aggiunto il
                    </div>
                </div>
                <div class="col-12">
                    {{toReadableDate(book.dateAdded)}}
                </div>
            </div>
        </div>
    </div>
</div>
